.flush {
  margin: 0;
  padding: 0
}

.m-xsmall {
  margin: .5rem
}

.m-small {
  margin: 1rem
}

.m-medium {
  margin: 1.5rem
}

.m-large {
  margin: 2rem
}

.m-xlarge {
  margin: 3rem
}

.mt-xsmall {
  margin-top: .5rem
}

.mt-small {
  margin-top: 1rem
}

.mt-medium {
  margin-top: 1.5rem
}

.mt-large {
  margin-top: 2rem
}

.mt-xlarge {
  margin-top: 3rem
}

.mr-xsmall {
  margin-right: .5rem
}

.mr-small {
  margin-right: 1rem
}

.mr-medium {
  margin-right: 1.5rem
}

.mr-large {
  margin-right: 2rem
}

.mr-xlarge {
  margin-right: 3rem
}

.mb-xsmall {
  margin-bottom: .5rem
}

.mb-small {
  margin-bottom: 1rem
}

.mb-medium {
  margin-bottom: 1.5rem
}

.mb-large {
  margin-bottom: 2rem
}

.mb-xlarge {
  margin-bottom: 3rem
}

.ml-xsmall {
  margin-left: .5rem
}

.ml-small {
  margin-left: 1rem
}

.ml-medium {
  margin-left: 1.5rem
}

.ml-large {
  margin-left: 2rem
}

.ml-xlarge {
  margin-left: 3rem
}

.my-xsmall {
  margin-top: .5rem;
  margin-bottom: .5rem
}

.my-small {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.my-medium {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem
}

.my-large {
  margin-top: 2rem;
  margin-bottom: 2rem
}

.my-xlarge {
  margin-top: 3rem;
  margin-bottom: 3rem
}

.mx-xsmall {
  margin-left: .5rem;
  margin-right: .5rem
}

.mx-small {
  margin-left: 1rem;
  margin-right: 1rem
}

.mx-medium {
  margin-left: 1.5rem;
  margin-right: 1.5rem
}

.mx-large {
  margin-left: 2rem;
  margin-right: 2rem
}

.mx-xlarge {
  margin-left: 3rem;
  margin-right: 3rem
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}
